@model IEnumerable<EZY.EDU.Contract.CourseVm>
@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}

<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/education")'><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Courses</li>
                    </ol>
                </section>
            </div>
            <div class="box-tools">
                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                {
                    <button class="btn btn-default btn-sm" type="button" onclick="AddCourse()"><i class="fa fa-plus"></i>&nbsp;Add New Course</button>
                }
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <table class="table table-striped" id="tblCourse">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Course Name</th>
                                <th style="text-align:center">No Of Days</th>
                                <th>Country</th>
                                <th style="text-align:center">Public Price</th>
                                <th style="text-align:center">Private Price</th>
                                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                {
                                    <th>#Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.ElementAt(i).ProductName</td>
                                    <td>@Model.ElementAt(i).CourseName</td>
                                    <td align="center">@Model.ElementAt(i).NoOfDays</td>
                                    <td>@Model.ElementAt(i).CountryName</td>
                                    <td align="center">@Model.ElementAt(i).PublicPrice.ToString("0.00")</td>
                                    <td align="center">@Model.ElementAt(i).PrivatePrice.ToString("0.00")</td>
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <td>
                                            <button class="btn btn-primary btn-sm" onclick="EditCourse(@Model.ElementAt(i).Id)"><i class="fa fa-pencil-square-o"></i></button>
                                            <button class="btn btn-danger btn-sm" onclick="DeleteEduCourse(@Model.ElementAt(i).Id)"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Education")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("DeleteEduCourse", "Master", FormMethod.Post, new { id = "frmDelete", name = "frmDelete" }))
{
    <input type="hidden" id="id" name="id" />
}
@using (Html.BeginForm("SaveCourse", "Master", FormMethod.Post, new { id = "frmCourse", name = "frmCourse" }))
{
    <div id="CourseModal" class="modal fade" role="dialog">
    </div>
}
@section secscripts{
    <script type="text/javascript">


        function AddCourse() {
            $.ajax({
                url: '@Url.Content("~/Master/Course")',
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#CourseModal').html(html).modal('show');
                },
                error: function (err) {

                }
            });
        }

        function EditCourse(Id) {
            $.ajax({
                url: '@Url.Content("~/Master/Course?Id=")' + Id,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#CourseModal').html(html).modal('show');
                },
                error: function (err) {

                }
            });
        }
        function DeleteEduCourse(Id)
        {
            debugger;
            if (confirm("Are you sure, do you want delete?")) {
                $('#id').val(Id);
                $('#frmDelete').submit();
            }
        }
        $('#frmCourse').validate({
            rules: {
                Country: {
                    required: true
                },
                Product: {
                    required: true
                },
                CourseName: {
                    required: true,
                    maxlength: 50
                },
                CourseDescription: {
                    required: true,
                    maxlength: 255
                },
                NoOfDays: {
                    required: true,
                    maxlength:  4
                },
                PublicPrice: {
                    validatePrices: true 
                },
                PrivatePrice: {
                    validatePrices: true 
                }
            }
        });

        $.validator.addMethod('validatePrices', function (value, element, param) {
            debugger;
            var PublicPrice = parseFloat($('#PublicPrice').val());
            var PrivatePrice = parseFloat($('#PrivatePrice').val());
            debugger;
            if ((PublicPrice == 'NaN' || PublicPrice == 0) && (PrivatePrice == 'NaN' || PrivatePrice == 0)) {
                return false;
            }
            else
                return true;
        }, 'Your error message!');

        function SaveCourse() {
            var cName = $('#CourseName').val() == null ? '' : $('#CourseName').val();
            var country = $('#Country').val() == null ? '' : $('#Country').val();
            var product = $('#Product').val() == null ? '' : $('#Product').val();


            if (cName != '' && country != '' && product != '') {
                if ($('#Id').val() == '-1') {
                    var promise = ValidateByCourseName();
                    $.when(promise).done(function (result) {
                        debugger;
                        if (result == "False") {
                            if ($('#frmCourse').valid()) {
                                $('#CourseName').removeAttr('disabled');
                                $('#Country').removeAttr('disabled');
                                $('#Product').removeAttr('disabled');
                                $('#frmCourse').submit();
                            }
                        }
                        else {
                            if (result == "True") {
                                alert("Course already exists with the combination of country and Product. Please re-enter new course.");
                                $('#CourseName').val('');
                                if ($('#frmCourse').valid()) {
                                    //$('#frmCourse').submit();
                                }
                            }
                        }
                    });
                }
                else {
                    if ($('#frmCourse').valid()) {
                        $('#CourseName').removeAttr('disabled');
                        $('#Country').removeAttr('disabled');
                        $('#Product').removeAttr('disabled');
                        $('#frmCourse').submit();
                    }
                }
            }
            else {
                if ($('#frmCourse').valid()) {
                    //$('#frmCourse').submit();
                }
            }
        };

        function ValidateByCourseName() {

            var def = $.Deferred();
            $.ajax({
                url: '@Url.Content("~/Master/IsEduCourseExists?courseName=")' + $('#CourseName').val() + '&country=' + $('#Country').val() + '&product=' + $('#Product').val(),
                method: 'get',
                contentType: 'text/html',
                success: function (result) {
                    def.resolve(result);
                }
            });
            return def.promise();
        };


        function ValidateCourseName(isBlur) {
            var promise = ValidateByCourseName();
            $.when(promise).done(function (result) {
                if (isBlur) {
                    if (result == "True") {
                        alert("Course already exists with the combination of country and Product. Please re-enter new course.");
                        $('#CourseName').val('');
                    }
                }
                else
                {
                    return result
                }
            });
        };
    </script>

    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#tblCourse').DataTable({
                responsive: true
            });
        });
    </script>
}




