@model IEnumerable<EDU.Web.Models.Registration>
@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="row">
                    <section class="content-header">
                        <ol class="breadcrumb">
                            <li><a href='@Url.Content("~/Home/Modules")'><i class="fa fa-dashboard"></i> Home</a></li>                           
                            <li><a href='@Url.Content("~/Registration/GetRegistrationList")'>Registration List</a></li>
                        </ol>
                    </section>
                </div>
            </div>
            <div class="box-tools">
                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                {
                    <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Content("~/Registration/Registration?Id=-1")'"><i class="fa fa-plus"></i>&nbsp;New Registration</button>
                }
            </div>
        </div>

        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <table class="table table-striped" id="tblRegistration">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>OracleDataBase</th>
                                <th>Amount</th>
                                <th>WHT</th>
                                <th>VAT/TAX</th>
                                <th>Payment1</th>
                                <th>Payment2</th>
                                <th>Balance</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>CompanyName</th>
                                <th>Product</th>
                                <th>CourseName</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>TrainerName</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.ElementAt(i).OracleDataBase</td>
                                    <td>@Model.ElementAt(i).Amount</td>
                                    <td>@Model.ElementAt(i).WHT</td>
                                    <td>@Model.ElementAt(i).VAT</td>
                                    <td>@Model.ElementAt(i).Payment1</td>
                                    <td>@Model.ElementAt(i).Payment2</td>
                                    <td>@Model.ElementAt(i).Balance</td>
                                    <td>@Model.ElementAt(i).Email</td>
                                    <td>@Model.ElementAt(i).Contact</td>
                                    <td>@Model.ElementAt(i).CompanyName</td>
                                    <td>@Model.ElementAt(i).Product</td>
                                    <td>@Model.ElementAt(i).CourseName</td>
                                    <td>@Model.ElementAt(i).StartDate</td>
                                    <td>@Model.ElementAt(i).EndDate</td>
                                    <td>@Model.ElementAt(i).TrainerName</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"
                                                onclick="location.href ='@Url.Content("~/Registration/Registration?Id=" + Model.ElementAt(i).RegistrationId)'">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                onclick="DeleteRegistration(@Model.ElementAt(i).RegistrationId)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
</section>

@section secscripts{
    <script type="text/javascript">
        $('#tblRegistration').DataTable();

        function DeleteRegistration(id) {

            if (confirm("Are you sure, You want to delete")) {
                $.ajax({
                    url: '@Url.Content("~/Registration/DeleteRegistration?Id=")' + id,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {

                        alert("Deleted Successfully");
                        if (data) {
                            location.reload();
                        }
                    },
                    error: function (e) {

                    }
                });
            }
        }
    </script>

}