
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="bs-example-home list-items">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Master/EduProductList")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-book fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Education Products </b>
                                        <p>Create or Modify the Education Product</p>
                                    }
                                    else
                                    {
                                        <b> Education Products </b>
                                        <p>View the Education Product</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section dgreen ">
                            <a href='@Url.Content("~/Master/CourseList")'>
                                <div class="menu_section  dgreen">
                                    <span><i class="fa fa-bars fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Courses </b>
                                        <p>Create or Modify the Courses</p>
                                    }
                                    else
                                    {
                                        <b> Courses </b>
                                        <p>View the Courses</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section org-btm ">
                            <a href='@Url.Content("~/Master/CourseSalesMasterList")'>
                                <div class="menu_section  org-btm">
                                    <span><i class="fa fa-money fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Regional Leads </b>
                                        <p>Create or Modify the Regional Leads List</p>
                                    }
                                    else
                                    {
                                        <b> Regional Leads Report </b>
                                        <p>View the Regional Leads Report</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                        <div class="main-section org-btm ">
                            <a href='@Url.Content("~/Registration/GetRegistrationList")'>
                                <div class="menu_section  org-btm">
                                    <span><i class="fa fa-registered fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Registration </b>
                                        <p>Create Registrations</p>
                                    }
                                    else
                                    {
                                        <b> Registration </b>
                                        <p>Add Registrations</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Trainer/TrainersList")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-user fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Trainers List </b>
                                        <p>Create or Modify the Trainer</p>
                                    }
                                    else
                                    {
                                        <b> Education Products </b>
                                        <p>View the Education Product</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/CustomerPayment/CustomerPaymentList")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-user fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b> Customer PaymentList </b>
                                        <p>Create or Modify the Customer</p>
                                    }
                                    else
                                    {
                                        <b> Education Products </b>
                                        <p>View the Education Product</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Reports/Achievement")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b>Achievement Reports </b>
                                        <p> Achievement Reports </p>

                                    }
                                    else
                                    {  <b> Reports </b>
                                    <p> Achievement Reports </p>

                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Reports/Operationaltransaction")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b>Operational Reports </b>
                                        <p> Operational Transaction Reports </p>

                                    }
                                    else
                                    {
                                        <b>Operational Reports </b>
                                        <p> Operational Transaction Reports </p>

                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Reports/OperationalExpenses")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <b>Operational Reports </b>
                                        <p>Operational Expenses Reports</p>
                                    }
                                    else
                                    {
                                        <b> Operational Reports </b>
                                        <p>Operational Expenses Reports</p>
                                    }
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        </div>
</section>
